# Collecting USDT/USD data

In [1]:
import pandas as pd
import datetime

In [21]:
df = pd.read_csv('../data/raw/15-minute-data/USDTUSD_15.csv', names=['open-time', 'open', 'high','low','close','volume','trades'])

In [22]:
df.sample(5)

         open-time    open    high     low   close        volume  trades
26023   1520218800  0.9998  0.9998  0.9997  0.9997  1.312120e+04      10
119425  1614233700  1.0009  1.0010  1.0008  1.0009  2.105954e+06     279
68648   1567196100  1.0002  1.0007  0.9999  1.0000  1.953196e+05     106
67126   1565464500  0.9974  0.9974  0.9974  0.9974  5.000000e+02       1
63313   1561547700  0.9952  0.9956  0.9952  0.9952  3.908365e+04      91

In [28]:
df_usdt = df[df['open-time'] >= 1580428800000 / 1000] # Jan 31, 2020 12:00:00 AM GMT

In [31]:
df_usdt.to_csv('../data/raw/15-minute-data/USDT.csv', index=False)

In [32]:
df_usdt.head(5)

        open-time    open    high     low   close        volume  trades
81924  1580428800  0.9985  0.9986  0.9981  0.9982   1941.065618      17
81925  1580429700  0.9985  0.9985  0.9981  0.9985   4701.105947      25
81926  1580430600  0.9982  0.9986  0.9979  0.9982  26924.856269      62
81927  1580431500  0.9986  0.9990  0.9981  0.9985  79602.537491     100
81928  1580432400  0.9985  0.9990  0.9981  0.9984  64682.104705      46

In [36]:
datetime.datetime.fromtimestamp(1580428800).strftime('%Y-%m-%d %H:%M:%S')

'2020-01-30 17:00:00'

In [33]:

df_usdt.tail(5)

         open-time    open    high     low   close         volume  trades
122748  1617230700  1.0002  1.0004  1.0001  1.0002  924170.304448     805
122749  1617231600  1.0003  1.0004  1.0001  1.0002  446390.827078     289
122750  1617232500  1.0003  1.0004  1.0002  1.0003  411813.598622     389
122751  1617233400  1.0004  1.0004  1.0002  1.0003  350397.246131     305
122752  1617234300  1.0004  1.0005  1.0002  1.0004  428189.152778     404

In [37]:
datetime.datetime.fromtimestamp(1617234300).strftime('%Y-%m-%d %H:%M:%S')

'2021-03-31 17:45:00'

### Available USDT/USD data from Jan. 30 2020 5:00 PM to Mar. 31 2021 5:45 PM

In [2]:
df = pd.read_csv('../data/raw/1-hour-data/USDT/USDTUSD_60.csv', names=['open-time', 'open', 'high','low','close','volume','trades'])

In [3]:
df_usdt = df[df['open-time'] >= 1580428800000 / 1000] # Jan 31, 2020 12:00:00 AM GMT

In [4]:
df_usdt

        open-time    open    high     low   close        volume  trades
24260  1580428800  0.9985  0.9990  0.9979  0.9985  1.131696e+05     204
24261  1580432400  0.9985  0.9990  0.9981  0.9986  8.168696e+04      99
24262  1580436000  0.9984  0.9990  0.9981  0.9982  4.160835e+04      91
24263  1580439600  0.9982  0.9986  0.9979  0.9979  1.993397e+04      79
24264  1580443200  0.9979  0.9982  0.9973  0.9976  5.964288e+04     134
...           ...     ...     ...     ...     ...           ...     ...
34476  1617217200  1.0003  1.0004  1.0000  1.0003  5.941234e+06    4079
34477  1617220800  1.0004  1.0004  1.0001  1.0003  5.804575e+06    3581
34478  1617224400  1.0003  1.0005  1.0002  1.0003  2.478189e+06    1551
34479  1617228000  1.0003  1.0004  1.0001  1.0002  3.945085e+06    2903
34480  1617231600  1.0003  1.0005  1.0001  1.0004  1.636791e+06    1387

[10221 rows x 7 columns]

In [6]:
df_hour = pd.read_csv('../data/raw/1-hour-data/ETHUSDT.csv')
df_hour['open-time'].min()

1580428800000

In [7]:
df_usdt.to_csv('../data/raw/1-hour-data/USDT/USDT.csv', index=False)